*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FDFBFD;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box button{
    width: 5rem;
    height: 2.5rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

.box h1{
    width: 5rem;
    height: 2.5rem;
    background-color: rgba(216, 112, 147, 0.47);
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 0.2rem;
}


.item-1{
    display: flex;
    gap: 2rem;
}